h1{
  font-size:70px;
  color:#666699;
}
p{
  font-size:20px;
  color:#336699;
}
<!DOCTYPE html>
<html>
<style>
div {
    height: 400px;
    background: linear-gradient(to right, #6666ff 0%, #666699 100%)
}
</style>
<body>

<div></div>

</body>
</html>
