h1{
p.fancy{
color:#babyblue;
font-style: oblique;
}

background-color:#pink;
color:#purple;
font-size:4em;
}
<doctype!html>
<html>
<style>
div {
    height: 400px;
    background: linear-gradient(to right, #ff00ff 0%, #666699 100%)
}
</style>
<body>

<div></div>

</body>
</html>
